{%- block vich_image_widget -%}
    <div class="vich-image">
        {%- if errors|length > 0 -%}
            {%- set attr = attr|merge({class: (attr.class|default('') ~ ' is-invalid')|trim}) -%}
        {%- endif -%}

        {{- form_widget(form.file, {attr: attr}) -}}

		{%- if image_uri -%}
			<div class="mt-10 flex gap-8">
				<a href="{{ asset_helper is same as(true) ? asset(image_uri) : image_uri }}" download>
					<img src="{{ (asset_helper is same as(true) ? asset(image_uri) : image_uri) | imagine_filter('app_actor_preview') }}" alt="" class="rounded-lg border-2 border-white" />
				</a>

				<div class="mt-5 flex flex-col gap-4">
					{%- if form.delete is defined -%}
						<label class="relative inline-flex items-center mb-5 cursor-pointer" for="{{ form.delete.vars.id }}">
							{{- form_widget(form.delete, {
								'attr': {
									'class': 'sr-only peer'
								}
							}) -}}
							<div class="w-11 h-6 bg-grey-light rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[3.5px] after:left-[2px] after:bg-white after:border-grey-medium-light after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-purple peer-checked:border-[2px] peer-checked:border-white"></div>
							<span class="ml-3 capitalize text-grey-light">{% trans %}common.forms.delete{% endtrans %}</span>
						</label>
					{%- endif -%}

					{%- if download_uri -%}
						<a href="{{ asset_helper is same as(true) ? asset(download_uri) : download_uri }}" download class="button">
							{{ translation_domain is same as(false) ? download_label : download_label|trans({}, translation_domain) }}
						</a>
					{%- endif -%}
				</div>
			</div>
		{%- endif -%}
    </div>
{%- endblock -%}
