<div class="relative py-10 px-4 border-b-2 text-center">
    <span class="inline-block uppercase text-3xl font-extrabold">{{ modal_title|default('Modal title') }}</span>
    <button
        class="absolute top-6 right-6 button-icon button-icon--close"
        aria-label="Close modal"
        data-micromodal-close
    ></button>
</div>

<div class="main-modal-content py-14 px-10 flex flex-col items-center h-full justify-center">
</div>
