{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div data-controller="notification" class="hidden" data-type="{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
