{% form_theme form 'form/fields.html.twig' %}

<turbo-frame id="add_movie_image_type">
	{{ form_start(form, {
        'attr': {
            'class': 'form-container'
        }
    }) }}
		<div class="form-field-group form-field-group--bordered">
			<div class="form-field">
				<div class="form-group">
					{{ form_label(form.imageFile, null, {
						'label_attr': {
							'class': 'form-label'
						}
					}) }}
					{{ form_widget(form.imageFile, {
						'attr': {
							'class': 'form-control mb-0',
							'data-controller': 'file-upload'
						},
					}) }}
				</div>

				<div class="form-errors">
					{{ form_errors(form.imageFile) }}
				</div>
			</div>

			{{ include('admin/partials/_btn_group.html.twig', { identifier: 'movie', btn_title: 'common.buttons.add_image'|trans, return_disabled: true }) }}
		</div>
	{{ form_end(form) }}
</turbo-frame>
