{% extends "admin/form_layout.html.twig" %}

{% block form_layout %}
	<turbo-frame id="add_movie_image_type" src="{{ path('app_admin_movie_image_add', { movieId: form.vars.value.id }) }}">
		<div class="grid grid-flow-col items-center justify-center gap-5 mb-16">
			<div
				class="inline-block h-12 w-12 animate-[pulse_1.5s_0s_infinite] rounded-full bg-grey-medium-light align-[-0.125em] opacity-0 motion-reduce:animate-pulse"
				role="status"
			>
				<span
					class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
				>
					Loading...
				</span>
			</div>
			<div
				class="inline-block h-12 w-12 animate-[pulse_1.5s_0.4s_infinite] rounded-full bg-grey-medium-light align-[-0.125em] opacity-0 motion-reduce:animate-pulse"
				role="status"
			>
				<span
					class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
				>
					Loading...
				</span>
			</div>
			<div
				class="inline-block h-12 w-12 animate-[pulse_1.5s_0.7s_infinite] rounded-full bg-grey-medium-light align-[-0.125em] opacity-0 motion-reduce:animate-pulse"
				role="status"
			>
				<span
					class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
				>
					Loading...
				</span>
			</div>
		</div>
	</turbo-frame>

	{{ form_start(form, {
        'attr': {
            'class': 'form-container'
        }
    }) }}
        <div class="form-field">
            <div class="form-group">
                {{ form_label(form.status, null, {
                    'label_attr': {
                        'class': 'form-label'
                    }
                }) }}
                {{ form_widget(form.status, {
                    'attr': {
                        'class': 'form-control'
                    },
                }) }}
            </div>

            <div class="form-errors">
                {{ form_errors(form.status) }}
            </div>
        </div>

        <div class="form-field">
            <div class="form-group">
                {{ form_label(form.releaseDate, null, {
                    'label_attr': {
                        'class': 'form-label'
                    }
                }) }}
                {{ form_widget(form.releaseDate, {
                    'attr': {
                        'class': 'form-control',
                        'data-controller': 'datepicker'
                    },
                }) }}
            </div>

            <div class="form-errors">
                {{ form_errors(form.releaseDate) }}
            </div>
        </div>

        {% for translation in form.translations %}
            <div class="form-field-group form-field-group--bordered">
                <span class="badge badge--info">{{ translation.vars.data.locale }}</span>
                <div class="form-field">
                    <div class="form-group">
                        {{ form_label(translation.title, null, {
                            'label_attr': {
                                'class': 'form-label'
                            }
                        }) }}
                        {{ form_widget(translation.title, {
                            'attr': {
                                'class': 'form-control'
                            },
                        }) }}
                    </div>

                    <div class="form-errors">
                        {{ form_errors(translation.title) }}
                    </div>
                </div>

                <div class="form-field">
                    <div class="form-group">
                        {{ form_label(translation.summary, null, {
                            'label_attr': {
                                'class': 'form-label'
                            }
                        }) }}
                        {{ form_widget(translation.summary, {
                            'attr': {
                                'class': 'form-control'
                            },
                        }) }}
                    </div>

                    <div class="form-errors">
                        {{ form_errors(translation.summary) }}
                    </div>
                </div>

                <div class="form-field">
                    <div class="form-group">
                        {{ form_label(translation.country, null, {
                            'label_attr': {
                                'class': 'form-label'
                            }
                        }) }}
                        {{ form_widget(translation.country, {
                            'attr': {
                                'class': 'form-control'
                            },
                        }) }}
                    </div>

                    <div class="form-errors">
                        {{ form_errors(translation.country) }}
                    </div>
                </div>
            </div>
        {% endfor %}

		<div class="form-field-group form-field-group--bordered">
			<div class="form-field">
				<div class="form-group">
					{{ form_label(form.categories, null, {
						'label_attr': {
							'class': 'form-label'
						}
					}) }}
					{{ form_widget(form.categories, {
						'attr': {
							'class': 'form-control',
							'data-controller': 'select',
							'data-select-multiple-value': 'true'
						},
					}) }}
				</div>

				<div class="form-errors">
					{{ form_errors(form.categories) }}
				</div>
			</div>

			<div class="form-field">
				<div class="form-group">
					{{ form_label(form.actors, null, {
						'label_attr': {
							'class': 'form-label'
						}
					}) }}
					{{ form_widget(form.actors, {
						'attr': {
							'class': 'form-control',
							'data-controller': 'select',
							'data-select-multiple-value': 'true'
						},
					}) }}
				</div>

				<div class="form-errors">
					{{ form_errors(form.actors) }}
				</div>
			</div>
		</div>

        {{ include('admin/partials/_btn_group.html.twig', { identifier: 'movie', btn_title: 'common.buttons.edit'|trans, data_turbo: 'false' }) }}
    {{ form_end(form) }}
{% endblock %}
