<div class="flex items-center self-start mt-10">
    {% if return_disabled is not defined or return_disabled is same as(false) %}
		<a href="{{ path('app_admin_' ~ identifier ~ '_index') }}" class="button mr-6">{% trans %}common.buttons.return{% endtrans %}</a>
	{% endif %}
    <button type="submit" class="button button--filled" data-turbo="{{ data_turbo|default('true') }}">{{ btn_title|default('common.buttons.create'|trans) }}</button>
</div>
