{% set path_prefix = 'app_admin_' ~ identifier %}

<ul class="flex flex-col w-full max-w-lg my-16 mx-auto">
    <li class="flex justify-end px-3 pb-6 mb-6 border-b-2">
        <a
            href="{{ path('app_admin_default_index') }}"
            class="button button--filled mr-4"
        >
            {% trans %}common.buttons.return{% endtrans %}
        </a>
        <a
            href="{{ path(path_prefix ~ '_new') }}"
            class="button button--filled"
        >
            {{ 'common.buttons.new'|trans({ '%item%': item_identifier }) }}
        </a>
    </li>

    {% for item in items %}
        {% if identifier == 'movie' %}
            {% set item_text = item|core_i18n %}
        {% elseif identifier == 'category' %}
            {% set item_text = item|core_i18n('name') %}
        {% elseif identifier == 'actor' %}
            {% set item_text = item|core_i18n('firstname') ~ ' ' ~ item|core_i18n('lastname') %}
        {% endif %}

        <li class="flex justify-between items-center px-3 pb-6 mb-6 border-b-2 last:border-b-0">
            <span class="uppercase text-2xl">{{ item_text }}</span>
            <div class="flex items-center">
                <a href="{{ path(path_prefix ~ '_edit', { id: item.id }) }}" class="button mx-4">{% trans %}common.buttons.edit{% endtrans %}</a>
                <form action="{{ path(path_prefix ~ '_delete', { id: item.id }) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete-' ~ identifier ~ '-' ~ item.id) }}">
                    <button type="submit" class="button button--delete" onClick="return confirm('Are you sure ?')">{% trans %}common.buttons.delete{% endtrans %}</button>
                </form>
            </div>
        </li>
    {% endfor %}
</ul>
