/* -------------------------------------------------------------------------- */
/*                                   BUTTONS                                  */
/* -------------------------------------------------------------------------- */

.button {
	@apply font-bold py-3 px-10 border border-grey-light rounded-2xl uppercase duration-300;

	&.button--filled {
		@apply text-grey-dark bg-grey-light;

		&.button--delete {
			@apply bg-red border-red;
		}

		&:hover {
			@apply bg-opacity-70;
		}
	}

	&.button--delete:not(&.button--filled) {
		@apply text-red border-red;

		&:hover {
			@apply text-grey-dark bg-red;
		}
	}

	&.button--big {
		@apply py-5 px-14;
	}

	&.button--centered {
		@apply self-center;
	}

	&:hover {
		@apply text-grey-dark bg-grey-light;
	}
}

.button-icon {
	@apply h-btnIconSm w-btnIconSm;

	&.button-icon--close {
		@apply flex flex-col justify-center;

		&::before,
		&::after {
			@apply h-1 w-full bg-grey-light -mb-px;

			content: '';
			transform: rotateZ(45deg);
		}

		&::after {
			@apply mb-0 -mt-px;

			transform: rotateZ(-45deg);
		}
	}
}
