/* -------------------------------------------------------------------------- */
/*                                    FONTS                                   */
/* -------------------------------------------------------------------------- */

/* ---------------------------------- RUDE ---------------------------------- */

@font-face {
	font-family: 'Rude';
	src: url('../../fonts/Rude/Rude.ttf') format('truetype');
}

/* --------------------------------- ARCHIA --------------------------------- */

@font-face {
	font-family: 'Archia';
	src: url('../../fonts/Archia_Regular/archia-regular-webfont.ttf');
}
