/* -------------------------------------------------------------------------- */
/*                                    FORMS                                   */
/* -------------------------------------------------------------------------- */

%form-bordered {
	@apply pt-6 pb-3 px-6 mb-10 border rounded-xl;
}

// form
.form-container {
	@apply flex flex-col;
}

// {input + label} + errors
.form-field {
	@apply flex flex-col items-start;

	&.form-field--bordered {
		@extend %form-bordered;
	}
}

// form-field * n
.form-field-group {
	@apply flex flex-col;

	&.form-field-group--bordered {
		@extend %form-bordered;
	}
}

// input + label
.form-group {
	@apply flex flex-col mb-8 w-full;
}

// label + more
.form-label-group {
	@apply flex items-center;
}

// input
.form-control {
	@apply rounded-lg text-2xl text-grey-dark;
}

// label
.form-label {
	@apply text-3xl mb-3;
}

// errors
.form-errors {
	ul {
		@apply relative mb-8 p-6 bg-white rounded-xl;

		li {
			@apply text-red;
		}
	}
}
