/* -------------------------------------------------------------------------- */
/*                                 TYPOGRAPHY                                 */
/* -------------------------------------------------------------------------- */

.title {
	@apply font-rude text-4xl uppercase text-center block;

	&.title--medium {
		@apply text-3xl;
	}

	&.title--big {
		@apply text-5xl;
	}
}
