{% extends "base.html.twig" %}

{% block body %}
    <div class="mt-28">
        <span class="title title--big">{{ page_title|default('Page title') }}</span>

        {% block layout %}{% endblock %}
    </div>
{% endblock %}
