{% extends "admin/layout.html.twig" %}

{% block layout %}
    {% set items = [
        {
            path: path('app_admin_movie_index'),
            title: 'Movie'
        },
        {
            path: path('app_admin_category_index'),
            title: 'Category'
        },
        {
            path: path('app_admin_actor_index'),
            title: 'Actor'
        }
    ] %}

    <ul class="w-full max-w-md mx-auto my-16 flex items-center justify-between">
        {% for item in items %}
            <li class="flex flex-col items-center mb-8 sm:mb-0">
                <span class="uppercase fw-bold mb-8">{{ item.title }}</span>
                <a href="{{ item.path }}" class="button button--filled button--big">{% trans %}common.buttons.select{% endtrans %}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
