{% extends "admin/form_layout.html.twig" %}

{% form_theme form 'form/fields.html.twig' %}

{% block form_layout %}
    {{ form_start(form, {
        'attr': {
            'class': 'form-container'
        }
    }) }}
        <div class="form-field-group form-field-group--bordered">
			<div class="form-field">
				<div class="form-group">
					{{ form_label(form.birthDate, null, {
						'label_attr': {
							'class': 'form-label'
						}
					}) }}
					{{ form_widget(form.birthDate, {
						'attr': {
							'class': 'form-control',
							'data-controller': 'datepicker'
						},
					}) }}
				</div>

				<div class="form-errors">
					{{ form_errors(form.birthDate) }}
				</div>
			</div>
		</div>

        {% for translation in form.translations %}
            <div class="form-field-group form-field-group--bordered">
                <span class="badge badge--info">{{ translation.vars.value.locale }}</span>
                <div class="form-field">
                    <div class="form-group">
                        {{ form_label(translation.firstname, null, {
                            'label_attr': {
                                'class': 'form-label'
                            }
                        }) }}
                        {{ form_widget(translation.firstname, {
                            'attr': {
                                'class': 'form-control'
                            },
                        }) }}
                    </div>

                    <div class="form-errors">
                        {{ form_errors(translation.firstname) }}
                    </div>
                </div>

                <div class="form-field">
                    <div class="form-group">
                        {{ form_label(translation.lastname, null, {
                            'label_attr': {
                                'class': 'form-label'
                            }
                        }) }}
                        {{ form_widget(translation.lastname, {
                            'attr': {
                                'class': 'form-control'
                            },
                        }) }}
                    </div>

                    <div class="form-errors">
                        {{ form_errors(translation.lastname) }}
                    </div>
                </div>

                <div class="form-field">
                    <div class="form-group">
                        {{ form_label(translation.nationality, null, {
                            'label_attr': {
                                'class': 'form-label'
                            }
                        }) }}
                        {{ form_widget(translation.nationality, {
                            'attr': {
                                'class': 'form-control'
                            },
                        }) }}
                    </div>

                    <div class="form-errors">
                        {{ form_errors(translation.nationality) }}
                    </div>
                </div>
            </div>
        {% endfor %}

		<div class="form-field-group form-field-group--bordered">
			<div class="form-field">
				<div class="form-group">
					{{ form_label(form.imageFile, null, {
						'label_attr': {
							'class': 'form-label'
						}
					}) }}
					{{ form_widget(form.imageFile, {
						'attr': {
							'class': 'form-control mb-0',
							'data-controller': 'file-upload'
						},
					}) }}
				</div>

				<div class="form-errors">
					{{ form_errors(form.imageFile) }}
				</div>
			</div>
		</div>

        {{ include('admin/partials/_btn_group.html.twig', { identifier: 'actor', btn_title: 'common.buttons.edit'|trans, data_turbo: 'false' }) }}
    {{ form_end(form) }}
{% endblock %}
