{% extends "admin/form_layout.html.twig" %}

{% block form_layout %}
    {{ form_start(form, {
        'attr': {
            'class': 'form-container'
        }
    }) }}
        <div class="form-field">
            <div class="form-group">
                {{ form_label(form.firstname, null, {
                    'label_attr': {
                        'class': 'form-label'
                    }
                }) }}
                {{ form_widget(form.firstname, {
                    'attr': {
                        'class': 'form-control',
						'autofocus': true
                    },
                }) }}
            </div>

            <div class="form-errors">
                {{ form_errors(form.firstname) }}
            </div>
        </div>

        <div class="form-field">
            <div class="form-group">
                {{ form_label(form.lastname, null, {
                    'label_attr': {
                        'class': 'form-label'
                    }
                }) }}
                {{ form_widget(form.lastname, {
                    'attr': {
                        'class': 'form-control'
                    },
                }) }}
            </div>

            <div class="form-errors">
                {{ form_errors(form.lastname) }}
            </div>
        </div>

        <div class="form-field">
            <div class="form-group">
                {{ form_label(form.nationality, null, {
                    'label_attr': {
                        'class': 'form-label'
                    }
                }) }}
                {{ form_widget(form.nationality, {
                    'attr': {
                        'class': 'form-control'
                    },
                }) }}
            </div>

            <div class="form-errors">
                {{ form_errors(form.nationality) }}
            </div>
        </div>

        {{ include('admin/partials/_btn_group.html.twig', { identifier: 'actor' }) }}
    {{ form_end(form) }}
{% endblock %}
