/* -------------------------------------------------------------------------- */
/*                                   MIXINS                                   */
/* -------------------------------------------------------------------------- */

/* -------------------------------- POSITIONS ------------------------------- */

@mixin absolute-center($position: 'center') {
	position: absolute;

	@if $position == 'x' {
		left: 50%;
		transform: translateX(-50%);
	} @else if $position == 'y' {
		top: 50%;
		transform: translateY(-50%);
	} @else {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
