/* -------------------------------------------------------------------------- */
/*                                    BADGE                                   */
/* -------------------------------------------------------------------------- */

.badge {
	@apply py-3 px-5 mb-4 self-start inline-block rounded-lg;

	&.badge--success {
		@apply bg-green;
	}

	&.badge--error {
		@apply bg-red;
	}

	&.badge--info {
		@apply bg-purple;
	}
}
