/* -------------------------------------------------------------------------- */
/*                                  TAILWIND                                  */
/* -------------------------------------------------------------------------- */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply pb-20 flex flex-col min-h-screen bg-grey-medium-dark text-grey-light pt-header font-archia text-2xl;
	}

	header {
		@apply fixed top-0 inset-x-0 z-header flex items-center h-header py-3 border-b border-b-grey-light shadow-xl bg-grey-medium-dark;
	}

	main {
		@apply container flex-grow mx-auto px-6 relative;
	}
}
