{% extends "admin/form_layout.html.twig" %}

{% block form_layout %}
    {{ form_start(form, {
        'attr': {
            'class': 'form-container'
        }
    }) }}
        {% for translation in form.translations %}
            <div class="form-field form-field--bordered">
                <span class="badge badge--info">{{ translation.vars.value.locale }}</span>
                <div class="form-group">
                    {{ form_label(translation.name, null, {
                        'label_attr': {
                            'class': 'form-label'
                        }
                    }) }}

                    {{ form_widget(translation.name, {
                        'attr': {
                            'class': 'form-control'
                        },
                    }) }}
                </div>

                <div class="form-errors">
                    {{ form_errors(translation.name) }}
                </div>
            </div>
        {% endfor %}

        {{ include('admin/partials/_btn_group.html.twig', { identifier: 'category', btn_title: 'common.buttons.edit'|trans, data_turbo: 'false' }) }}
    {{ form_end(form) }}
{% endblock %}
