{% extends "admin/layout.html.twig" %}

{% block layout %}
    {{ include('admin/partials/_list.html.twig', { items: categories, identifier: 'category', item_identifier: 'categorie' }) }}
{% endblock %}
