{% extends "admin/form_layout.html.twig" %}

{% block form_layout %}
    {{ form_start(form, {
        'attr': {
            'class': 'form-container'
        }
    }) }}
        <div class="form-field">
            <div class="form-group">
                {{ form_label(form.name, null, {
                    'label_attr': {
                        'class': 'form-label'
                    }
                }) }}
                {{ form_widget(form.name, {
                    'attr': {
                        'class': 'form-control'
                    },
                }) }}
            </div>

            <div class="form-errors">
                {{ form_errors(form.name) }}
            </div>
        </div>

        {{ include('admin/partials/_btn_group.html.twig', { identifier: 'category' }) }}
    {{ form_end(form) }}
{% endblock %}
