<header>
    <div class="px-6 flex justify-between items-center w-full">
        <a href="{{ path('app_admin_default_index') }}" class="title title--medium">Movie back-office</a>

        {% if app.user %}
            <a href="{{ path('app_logout') }}" class="button button--filled">Logout</a>
        {% endif %}
    </div>
</header>
