<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ title|default('common.default.title'|trans) }}{% endblock %}</title>

        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body data-controller="modal">
        {{ include('_header.html.twig') }}

        <main>
            {% block body %}{% endblock %}
        </main>

        {# FLASH MESSAGES #}
        {{ include('partials/_notification.html.twig') }}

        {# MICROMODAL #}
        <div id="main-modal" class="main-modal" aria-hidden="true">
            <div class="main-modal-overlay absolute inset-0 flex flex-col items-center justify-center bg-grey-dark bg-opacity-80" tabindex="-1" data-micromodal-close>
                <div
                    class="main-modal-container min-h-md w-full max-w-lg flex flex-col bg-grey-dark border-4 rounded-xl"
                    role="dialog"
                    aria-modal="true"
                    aria-labelledby="main-modal-title"
                    data-modal-target="modalContainer"
                ></div>
            </div>
        </div>
    </body>
</html>
